body {
    color: cadetblue;
    background-color: burlywood;
    text-align: center;
}

p {
    color: rgb(105, 129, 150);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

#button {
    padding: 2em;
    color: rgb(39, 119, 119);
    background-color: rgb(226, 218, 206);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#button:hover {
    color: rgb(18, 47, 47);
    background-color: rgb(197, 193, 186);
}
